div {
	margin-bottom: 5;
}

h1 {
	text-align: center;
}

#menu {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width:500px;
}

#field {
	margin-left: auto;
	margin-right: auto;
}

#options {
	display: none;
	width: 700;
	margin-left: auto;
	margin-right: auto;
	font-size: 24;
}

#submitbutton {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#resultbox{
	margin-top: 150;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
//	height: 140px;
	background: #00FA9A;
	text-align: center;
}

#restartbutton{
	width:110;
	margin-left: 10;
	margin-bottom: 5;
}

#menubutton{
	width:110;
	margin-right: 10;
	margin-bottom: 5;
}

#resulthead {
	padding-top:10;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.option {
	float: right;
	width:175px
}

.warning {
	visibility: hidden;
	color: red;
	font-weight: bold;
	margin-bottom:10px;
}

.overlay{
	display: none;
	width: 100%;
	left: 0;
	position: fixed;
	z-index: 100;
}